<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyCuaHangDoUong"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.DrinkDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfitActivity"
            android:exported="false" />
        <activity
            android:name=".activity.StatisticalActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DrinkOutOfStockActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RevelueActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ManageDrinkActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HistoryDrinkActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UnitActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ListDrinkActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FeatureActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>